#box1{
    background-color: blue;
    display: inline-block;
    height:500px
}
#box2{
    background-color: blue;
    display: inline-block;
    height:500px
}
#box3{
    background-color: blue;
    display: inline-block;
    height:500px
}
#box4{
    background-color: blue;
    display: inline-block;
    height:500px
}